CLIENTE_X_INSTAGRAM_ACCESS_TOKEN=cole_o_token_aqui_somente_localmente
CLIENTE_X_INSTAGRAM_USER_ID=cole_o_user_id_aqui_somente_localmente
IMGBB_API_KEY=cole_a_chave_imgbb_aqui_somente_localmente
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
ADMIN_EMAIL=seu_email_admin
ADMIN_PASSWORD=sua_senha_admin
ADMIN_SESSION_SECRET=gere_um_segredo_longo_para_assinar_cookie
